body {
    font-family: Arial, sans-serif;
    background-color: pink;
    margin: 0px;
}

header {
    text-align: center;
    padding: 20px;
    margin: 0%;
    background-color: lightblue;
}

h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

nav a {
    color: black;
    padding: 10px;
    display: block;
}

.lorem {
    display: flex;
    margin: 20px;
}

aside {
    width: 20%;
    padding: 20px;
}

main {
    width: 80%;
    padding: 20px;
}

.flower {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px;
}

.Links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 10px;
    padding: 20px;
    text-align: center;
}

.Links a {
    display: block;
    padding: 5px;
    text-align: center;
}
