body {
    font-family: Arial, Helvetica, sans-serif;
    background: url(bluebg.jpg) rgb(0, 0, 111)
}

.mylist {
    list-style: circle;
    list-style-image: url(none);
}

header {
    background-image: url(wave.png);
    background-repeat: no-repeat;
    background-position: top right;
    color: white;

}


<ul>
<li>Ulaanbaatar</li>
<li>Gobi Desert</li>
<li>Orkhon Valley</li>
<li>Lake Khuvsgul</li>
<li>Terelj National Park</li>
</ul>
