body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: gold;
}

#wrapper {
    width: 800px;
    height: 800px;
    margin:auto;
    border: thin solid black;
    border-radius: 5px;
    padding: 20px;
}

header {
    text-align: center;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-style: italic;
    text-transform: capitalize;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    line-height:  100px;
    background-image: url('Traditional_Yurts.jpg'); 
    background-origin: border-box;
    background-clip: content-box;
    background-size: cover;
    padding: 20px;
    color: white;
    border-radius: 10px;
}

nav {
    background-color: red;
    padding: 5px;
}

nav a {
    background-color: blue;
    padding: 4px 4px;
    color: black;
    border: thin solid black;
    border-radius: 10px;
}

figure {
    float: left;
    margin: 10px;
    padding: 5px;
    border: thin solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

footer {
    background-color: red;
    border-top: thin solid black;
    line-height: normal;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    position: relative;
    height: auto;
}

#Yurt {
border: 100px;
}