body {
    background-image:  url(Flag_of_Mongolia.svg);

    }
    
.header {
    background:  url('GenghisKhan.jpg') top right no-repeat;
}

h1 {
    text-align: left;
    font-size: 40px;
}

h2 {
    text-align: left;
    font-size: 40px;

}

nav a {
    color: black;
}

.current {
    color:white;
}

 
   .page2 {
    background-image: url(Ulaanbaatar.jpg);
    background-repeat: no-repeat right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
 }

li {
    font-size: 20px;
    color: black;
    
}

ul li { 
    list-style-image: url(favicon-16x16.png);
}

.Homepage {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}